<!DOCTYPE html>
<html>
<head>

    <title>Lead Details</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="container mt-5">

<h2 class="text-center mb-4">

Lead Details

</h2>

<table class="table table-bordered">

<tr>
<th width="250">ID</th>
<td>{{ lead.id }}</td>
</tr>

<tr>
<th>Lead Type</th>
<td>{{ lead.lead_type }}</td>
</tr>

<tr>
<th>Status</th>
<td>{{ lead.status }}</td>
</tr>

<tr>
<th>Name</th>
<td>{{ lead.name }}</td>
</tr>

<tr>
<th>Email</th>
<td>{{ lead.email }}</td>
</tr>

<tr>
<th>Mobile</th>
<td>{{ lead.mobile }}</td>
</tr>

<tr>
<th>Company</th>
<td>{{ lead.company }}</td>
</tr>

<tr>
<th>Message</th>
<td>{{ lead.message }}</td>
</tr>

<tr>
<th>Created At</th>
<td>{{ lead.created_at }}</td>
</tr>

</table>

<a href="{% url 'lead_list' %}" class="btn btn-secondary">

Back

</a>

</body>
</html>